 // FLIP BUTTON
 .ant-btn.ant-btn-flip {
    .flip-content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        min-height: 16px;
    } 

    .flip-content__side-a,
    .flip-content__side-b {
        transition: transform .2s linear;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .flip-content__side-a {
        opacity: 1;
        transform: scaleY(1);
        height: auto;
    }

    .flip-content__side-b {
        opacity: 0;
        transform: scaleY(0);
        height: 0;
    }

    &:hover,
    &:focus {
        .flip-content__side-a {
            opacity: 0;
            transform: scaleY(0);
            height: 0;
        }
        .flip-content__side-b {
            opacity: 1;
            transform: scaleY(1);
            height: auto;
        }
    } 

}