@import './item-icons';

.uiv-item {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: initial;
    overflow: hidden;

    // ICON
    .item-icon-wrapper {
        position: relative;
        flex-shrink: 0;

        .item-badge {
            position: absolute;
            top: var(--sp-xs);
            right: -6px;
        }
    }

    // BODY
    .body {
        max-width: 100%;
        overflow: hidden;
    }

    .item-title {
        align-items: center;
        display: flex;
        gap: var(--sp-sm);
        line-height: 1.4em;

        .item-name {
            font-weight: 700;
            font-size: var(--font-size-big);
            overflow: hidden;
        }
    }

    .pretitle {
        color: var(--medium-blue);
        font-size: var(--font-size-mini);
        letter-spacing: 0.5px;
        line-height: 1em;
        text-transform: uppercase;
    }

    .description {
        line-height: 1.3em;
        font-weight: 400;

        .ant-typography {
            margin-bottom: 0;
        }
    }

    // SMALL SIZE
    &.small {
        gap: 6px;

        .item-name,
        .description {
            font-size: var(--font-size-default);
            line-height: 1.2em;
        }

        .item-icon {
            height: 32px;
            width: 32px;

            // Generic font icons
            &[class^="ui-icon-"],
            &[class*=" ui-icon-"],
            &[class^="icon-"],
            &[class*=" icon-"] {
                &:before {
                    font-size: var(--font-size-bigger);
                }
    
                // medium size-icon
                &.medium {
                    &:before {
                        font-size: calc(var(--font-size-bigger) - 3px);
                    }
                }
    
                // small size-icon
                &.small {
                    &:before {
                        font-size: calc(var(--font-size-bigger) - 6px);
                    }
                }
            }
        }

        .item-badge {
            position: absolute;
            top: 0;
            right: -4px;
        }
    }

    &.x-small {
        gap: var(--sp-xs);

        .item-name,
        .description {
            font-size: var(--font-size-default);
            line-height: 1.2em;
        }

        .item-icon {
            height: 22px;
            width: 22px;

            // Generic font icons
            &[class^="ui-icon-"],
            &[class*=" ui-icon-"],
            &[class^="icon-"],
            &[class*=" icon-"] {
                &:before {
                    font-size: calc(var(--font-size-default) + 4px);
                }
    
                // medium size-icon
                &.medium {
                    &:before {
                        font-size: calc(var(--font-size-default) + 2px);
                    }
                }
    
                // small size-icon
                &.small {
                    &:before {
                        font-size: var(--font-size-default);
                    }
                } 
            }
        }
    }

    // Align Icon with Title

    &.align-icon-with-title {
        align-items: flex-start;

        // Medium
        .body {
            padding-top: 20px;
            
            &.has-pretitle {
                padding-top: 11px;
            }
        }

        // Small
        &.small {
            .body {
                padding-top: 8px;
                
                &.has-pretitle {
                    padding-top: 0px;
                }
            }
        }

        // X-Small
        &.x-small {
            .body {
                padding-top: 3px;
                
                &.has-pretitle {
                    padding-top: 0;
                }
            }
        }
    }
}