{
    "env": {
        "jest/globals": true
    },
    "extends": [
        "eslint-config-ether",
        "eslint-config-ether/rules/react"
    ],
    "plugins": [
        "jest"
    ],
    "rules": {}
}
