$api-colors: (
    get: $get-color,
    put: $put-color,
    post: $post-color,
    patch: $patch-color,
    delete: $delete-color,
    head: $head-color,
    generic: $medium-light-blue
);

@mixin api-tag {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-size: var(--font-size-small);
    font-weight: 900;
    gap: var(--sp-xs);
    height: 18px;
    text-transform: uppercase;
    width: 50px;
}

@mixin api-dot {
    border-radius: 3px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 16px;
    padding: 0;
    width: 16px;
    
    .method {
        display: none;
    }
}

.dx-api-method {
    align-items: center;
    border-color: var(--medium-blue);
    color: var(--medium-blue);
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 6px;
    position: relative;

    .method {
        line-height: 1em;
    }

    &.tag {
        @include api-tag;
    }

    &.dot {
        @include api-dot;
    }

    &.transition {
        @include api-dot;
        
        &:hover,
        &:focus {
            @include api-tag;

            .method {
                display: inline-flex;
            }
        }
    }

    // COLORS
    @each $method-name, $value in $api-colors {
        // default: solid color
        transition: all .2s linear;

        &.#{$method-name} {
            background-color: #{$value};
            border-color: #{$value};
            color: darken($value, 45);
            
            &.outlined,
            &.wip-outlined,
            &.alert {
                background-color: transparent;
                color: #{$value};
            }
            
            &.half {
                background-color: transparent;

                &:after{
                    background-color: #{$value};
                }
            }
            
            &.alert {
                &:after {
                    background-color: #{$value};
                }
            }

            &.disabled,
            &.empty {
                background-color: transparent;
                border-color: $text-light;
                color: $text-light;
            }
            
            &.disabled {
                border-color: $text-light !important;
            }

            &.forbidden {
                background-color: transparent;
                border-color: $red;
                color: $red;

                &:after {
                    background-color: $red;
                }
            }

            &.dot,
            &.transition {
                // wip icon color
                &.wip-solid::after {
                    color: #ffffff;
                }

                &.wip-outlined::after {
                    color: #{$value};
                }
            }

            &.api-btn {
                &:hover,
                &:focus {
                    &:not([disabled]){
                        border-color: darken($value, 35);
                        color: darken($value, 35);
                    }
                }

                &.forbidden {
                    &:hover,
                    &:focus {
                        &:not([disabled]){
                            border-color: $red-dark;
                            color: $red-dark;
                        }
                    }
                }

                &.empty {
                    &:hover,
                    &:focus {
                        &:not([disabled]){
                            border-color: $text-secondary;
                            color: $text-secondary;
                        }
                    }
                }
            }
        }
    }

    // STATUS
    &.half {
        &:after {
            clip-path: polygon(0 0%, 100% 0, 0% 100%);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
    }
    
    &.alert {
        &:after {
            border: 2px solid #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 9px;
            position: absolute;
            top: -4px;
            width: 9px;
            right: -5px;
        }
    }

    &.forbidden {
        &:after {
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            top: 5px;
            width: 100%;
            right: 0px;
            transform: rotate(-45deg);
        }
        
        &.tag,
        &.transition:hover,
        &.transition:focus {
            &:after{
                width: 103%;
                right: -1px;
                top: 6px;
                transform: rotate(-19deg);
            }
        }
    }

    &.dot,
    &.transition {
        // wip: ellipsis icon
        &.wip-solid,
        &.wip-outlined {
            &::after {
                content: "\e924";
                display: block;
                font-family: 'Clarity';
                font-size: 10px;
                line-height: 16px;
                text-align: center;
                width: 100%;
            }
        }

        &.empty {
            border-color: transparent;
        }
    }

    &.transition {
        &.wip-solid,
        &.wip-outlined {
            &:hover,
            &:focus {
                &::after {
                    display: none;
                }
            }
        }
    }
    

    // CLICKABLE / BUTTON
    &.api-btn {
        letter-spacing: normal;

        span {
            margin: 0;
        }

        &:before {
            background-color: rgba(0,0,0,0.0);
        }

        &:hover,
        &:focus {
            &:before {
                background-color: rgba(0,0,0,0.1);
            }
        }

        &.tag,
        &.transition {
            &:before {
                border-radius: 0;
            }
        }
    }

    // NOT APIFIED
    .not-apified {
        background-color: var(--navy);
        border-radius: 2px;
        color: #fff;
        font-size: 8px;
        font-weight: 900;
        left: -8px;
        line-height: 1em;
        padding: 1px;
        position: absolute;
        text-align: center;
        top: -4px;
        width: 19px;
        z-index: 1;

        &:after{
            background-color: #fff;
            box-shadow: 0 1px 1px var(--navy);
            content: '';
            display: block;
            height: 1px;
            left: 1px;
            position: absolute;
            top: 4px;
            width: 16px;
        }
    }
}

