//AG Grid tables

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin";

// embed the Material font
@import "~ag-grid-community/src/styles/webfont/agGridAlpineFont.scss";

.ag-theme-material {
    @include ag-theme-material((
        "icon-font-family": "agGridAlpine", // use Alpine font https://www.ag-grid.com/javascript-grid/custom-icons/
        "icons-data": null, // prevent default Alpine font from being embedded

        // use theme parameters where possible
        // Taking primary and accent from the indigo / pink theme: https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/indigo-pink.scss
        material-primary-color: $aqua,
        material-accent-color: var(--medium-blue),

        //// Colors
        //foreground-color: rgba(#000, 0.87),
        secondary-foreground-color: $text-default,
        //disabled-foreground-color: ag-derived(foreground-color, $opacity: 0.38),
        background-color: #fff,
        header-background-color: transparent,
        subheader-background-color: #fff,
        header-cell-hover-background-color: #fafafa,
        chip-background-color: #d7eaf9,
        //range-selection-background-color: rgba(122, 134, 203, 0.1),
        //range-selection-highlight-color: #fce4ec,
        row-hover-color: rgba(0,0,0,0.02),
        //control-panel-background-color: #fafafa,
        selected-row-background-color: rgba(0,0,0,0.05),
        //range-selection-border-color: ag-derived(material-primary-color),
        //checkbox-checked-color: ag-derived(material-accent-color),
        //checkbox-unchecked-color: #333,
        value-change-value-highlight-background-color: $highlight,

        //// Borders
        //borders: false,
        //borders-critical: true,
        border-color: $border-color,

        //// Sizing
        //grid-size: 8px,
        //icon-size: 18px,
        header-height: ag-derived(grid-size, $times: 5),
        row-height: ag-derived(grid-size, $times: 5),
        cell-horizontal-padding: ag-derived(grid-size, $times: 1),
        //list-item-height: ag-derived(grid-size, $times: 4),
        //row-group-indent-size: ag-derived(grid-size, $times: 3, $plus: icon-size),
        //filter-tool-panel-sub-level-row-height: ag-derived(grid-size, $times: 4),
        //checkbox-border-radius: 2px,
        //toggle-button-switch-border-width: 2px,
        //toggle-button-height: ag-derived(icon-size),
        //widget-container-horizontal-padding: ag-derived(grid-size, $times: 1.5),
        //widget-container-vertical-padding: ag-derived(grid-size, $times: 2),
        //widget-horizontal-spacing: ag-derived(grid-size, $times: 1.5),
        //widget-vertical-spacing: ag-derived(grid-size, $times: 1.75),

        //// Fonts
        font-family: ("Lato", sans-serif),
        //font-size: 13px,
        //icon-font-family: $ag-theme-material-icon-font-family,
        //icons-data: $ag-theme-material-icons-data,
        //icons-font-codes: $ag-theme-material-icons-font-codes,

        //// Misc
        //selected-tab-underline-color: ag-derived(material-primary-color),
        //selected-tab-underline-width: 2px,
        //full-width-tabs: true,

        //input-focus-border-color: ag-derived(material-primary-color),
        //
        //input-focus-box-shadow: 0 0 0 5px rgba(32,33,36,0.122),

        //card-shadow: (0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)),
        //card-radius: 2px,
    ));

    //////// CUSTOM

    .ag-header-cell-text {
        color: $text-secondary;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .ag-header-icon.ag-header-cell-menu-button {
        border-radius: 3px;
        cursor: pointer;
        padding: 2px;
        transition: all .2s linear;
        
        &:hover,
        &:focus {
            background-color: rgba(0,0,0,0.08);
        }

    }

    // States
    .ag-row {
        background-color: unset;
    }

    .ag-row-hover {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .ag-row-selected {
        background-color: rgba(0, 0, 0, 0.05);
    }

    // Ellipsis
    .ag-cell-wrapper {
        max-width: 100%;
    }

    .ag-react-container {
        max-width: 100%;
    }

    // Remove watermark
    .ag-watermark {
        opacity: 0 !important;
        display: none !important;
    }

    // Filter bar
    .ag-column-drop-horizontal{
        border-bottom: 1px solid $border-color;
    } 

    .ag-column-drop-cell{
        height: 24px;
        
        .ag-column-drop-cell-drag-handle {
            color: $formfield-tools;
            margin-left: 6px;
        }
        
        .ag-column-drop-cell-button {
            color: $formfield-tools;
            min-width: auto; // org: 32px
            
            .ag-icon-cancel:before {
                content: "\ec07";
                font-family: 'clarity';
            } 
        } 

        .ag-column-drop-cell-text {
            color: var(--medium-blue);
        } 
    } 
    
    // Custom filter icon
    .ag-icon-filter:before {
        content: "\ea78";
        font-family: 'clarity';
        font-size: 16px;
    }

    // Header Filter active
    .ag-header-icon.ag-header-label-icon.ag-filter-icon{
        margin-left: var(--sp-sm);
        color: $orange;

        .ag-icon-filter {
            color: $orange;
            
            &:before {
                content: "\e933";
                font-size: var(--font-size-bigger);
            } 
        }
    } 


    // LINED GRID
    &.lined-grid {
        .ag-header-cell,
        .ag-cell {
            border-top: 0 solid transparent;
            border-bottom: 0 solid transparent;
            border-right:  1px solid $border-color;
            border-left: 0 solid transparent;
        }
    }

    // NOT LINES
    &.no-lines {
        .ag-row {
            border-color: transparent;
        }
    }

    // Stripped GRID
    .striped-grid {
        .ag-row {
            background-color: #edf1f3;
            border-radius: 5px;
            border: none;
            box-shadow: inset 0px 0px 0px 1px #fff, inset 0px 0px 0px 2px #e0e7eb;
        }
    }

    // PLUS/MINUS EXPANDER FOR GROUPED GRIDS
    &.plus-expander {
        .ag-icon {
            &.ag-icon-tree-closed::before,
            &.ag-icon-tree-open::before {
                font-family: "Clarity";
                color: $gray-blue;
            }

            &.ag-icon-tree-closed::before {
                content: '\eb44';
            }

            &.ag-icon-tree-open::before {
                content: '\eafc'
            }
        }
    }

    &.no-cell-padding {
        .ag-cell {
            padding: 0
        }
    }

    &.nohover {
        .ag-row-hover {
            background-color: transparent;
        }
    }

    // Flip buttons on row hover, focus, selected
    .ag-row-hover,
    .ag-row-focus,
    .ag-row-selected {
        .ant-btn.ant-btn-flip {
            .side-a {
                opacity: 0;
                transform: scaleY(0);
                height: 0;
            }
            .side-b {
                opacity: 1;
                transform: scaleY(1);
                height: auto;
            }
        }
    } 


    // Fix column shadow
    .ag-center-cols-clipper .ag-center-cols-viewport {
        background: 
            linear-gradient(90deg, #ffffff 30%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%),
            
            linear-gradient(-90deg, #ffffff 30%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);

        background-size: 30px 100%, 10px 100%, 30px 100%, 10px 100%;
        background-position: left, left, right, right;
        background-attachment: local, scroll, local, scroll;
        background-repeat: no-repeat;
    }
}


// Cell renderers

.main-text {
    font-weight: 700;
}

.date-text {
    color: var(--medium-blue);
}

.secondary-text {
    color: $text-secondary;
    font-weight: 400;
}

.code-text {
    color: $text-secondary;
    font-weight: 400;
    font-family: monospace !important;
    font-size: var(--font-size-small);
}

.lined-bg {
    background-image: url(../assets/images/bg-lined.png);
    align-items: center;
    display: flex;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.vertical-header {
    transform: rotate(-90deg);
}


// Ellipsis
.ant-typography-ellipsis-single-line {
    max-width: 100%;
}

// Content Alignment
.align-center {
    .ag-header-cell-label {
        justify-content: center;
    }

    &.ag-cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.align-right {
    .ag-header-cell-label {
        justify-content: end;
    }

    &.ag-cell {
        display: flex;
        align-items: end;
        justify-content: end;
    }
}

.v-align-center {
    display: flex !important;
    align-items: center;
}

.center-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.multiple-deploys {
    .ant-btn {
        &:after {
            background-image: url(../assets/images/btn-multiple-deploys.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            content: "";
            height: 8px;
            left: 50%;
            position: absolute;
            top: -10px;
            transform: translateX(-50%);
            width: 80%;
        }
    }

    .secondary-btn {
        &:after {
            content: none;
        }
    }
}

// Indicators
.error-cell-indicator {
    position: absolute;
    right: -13px;
    bottom: -3px;
    width: 0px;
    height: 0px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid $red;
    transform: rotate(-45deg);
    transition: box-shadow .2s linear;
    cursor: pointer;

    &:after {
        content: "!";
        display: block;
        color: $white;
        position: absolute;
        transform: rotate(45deg);
        bottom: -8px;
        right: -4px;
        font-weight: 900;
    }

    &:hover {
        box-shadow: -1px 0px 0px 2px #c12744;
    }
}

// Show on hover
// For action buttons or elements to show only on row hover/focus
.show-on-hover {
    opacity: 0;
    transition: opacity .2s linear;
}
.ag-row-hover,
.ag-row-focus,
.ant-table-row:hover,
.ant-table-cell-row-hover {
    .show-on-hover {
        opacity: 1
    }
}