.dx-tag {
    align-items: center;
    border-radius: 3px;
    display: inline-flex;
    flex-shrink: 0;
    font-size: var(--font-size-smaller);
    gap: var(--sp-xs);
    height: 16px;
    justify-content: center;
    line-height: 1em;
    padding: 0 6px;

    // COLOR

    //default
    background-color: $blue-white;
    color: var(--medium-blue);

    &.dx-tag--blue{
        background-color: var(--medium-blue);
        color: $white;
    }
    
    &.dx-tag--navy{
        background-color: var(--navy);
        color: $white;
    }
    
    &.dx-tag--aqua{
        background-color: $aqua;
        color: $white;
    }
    
    &.dx-tag--aqua-medium{
        background-color: $aqua-medium;
        color: $white;
    }
    
    &.dx-tag--green{
        background-color: $green;
        color: $white;
    }
    
    &.dx-tag--yellow{
        background-color: $yellow;
        color: $text-black;
    }
    
    &.dx-tag--orange{
        background-color: $orange;
        color: $white;
    }
    
    &.dx-tag--red{
        background-color: $red;
        color: $white;
    }
    
    &.dx-tag--gray-blue{
        background-color: $gray-blue;
        color: $white;
    }
    
    &.dx-tag--light-gray{
        background-color: $light-gray-solid;
        color: $text-secondary;
    }
    
    &.dx-tag--white{
        background-color: $white;
        color: $text-secondary;
    }

    &.dx-tag--gray-blue-line {
        background-color: $white;
        color: $text-secondary;
        border: 2px solid $gray-blue
    }

    // SIZES
    &.dx-tag--large {
        height: 24px;
        font-size: var(--font-size-default);
        padding: 0 8px;

        &.dx-tag--circle {
            height: 24px;
            width: 24px;
        }
    }
    
    &.dx-tag--small {
        font-size: var(--font-size-mini);
        height: 14px;
        padding: 0 var(--sp-xs);

        &.dx-tag--circle {
            height: 14px;
            width: 14px;
        }
    }

    // SHAPES
    &.dx-tag--round {
        border-radius: 20px;
        padding: 0 8px;
    }

    &.dx-tag--circle {
        border-radius: 20px;
        height: 16px;
        width: 16px;
    }
}
