.segmented-buttons.ant-radio-group,
.segmented-buttons.ant-checkbox-group {
    font-weight: 900;
    text-transform: uppercase;
    
    .ant-radio-button-wrapper,
    .ant-checkbox-wrapper {
        background-color: $bg-segmented-button;
        border-color: $bg-segmented-button;
        font-size: var(--font-size-mini);
        letter-spacing: 1px;
        margin: 0;
        padding: 0 var(--sp-md);
        transition: all .2s linear;

        &:hover {
            background-color: $bg-segmented-button-hover;
        }

        &.ant-radio-button-wrapper-checked,
        &.ant-checkbox-wrapper-checked {
            background: $navy;
            border-color: $navy;
            color: #fff;

            + .ant-checkbox-wrapper-checked {
                box-shadow: inset 1px 0 0 0 #375580;
            }
        }

        &:first-child {
            border-radius: 30px 0 0 30px
        }
        &:last-child {
            border-radius: 0 30px 30px 0
        }
        
        &:only-child {
            border-radius: 30px;
        }

        &::before {
            content: none;
        }
    }

    &.filter {
        .ant-radio-button-wrapper,
        .ant-checkbox-wrapper {
            &.ant-radio-button-wrapper-checked,
            &.ant-checkbox-wrapper-checked {
                background: $orange;
                border-color: $orange;

                + .ant-checkbox-wrapper-checked {
                    box-shadow: inset 1px 0 0 0 #c2840c;
                }
            }
        }

        // focus border
        &.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within,
        .ant-radio-button-wrapper:focus-within {
            box-shadow: 0 0 0 2px #dfd2ba;
        }
    }
}

.ant-checkbox-group {
    .ant-checkbox {
        display: none;
        
        + span {
            align-items: center;
            display: flex;
            line-height: 32px;
            padding: 0;
        }
    }

    &.size-small {
        .ant-checkbox + span {
            line-height: 24px;
        }
    }
}
