// locked
.locked {

    // locked switch
    &.ant-tooltip-disabled-compatible-wrapper, // with tooltip
    &.ant-switch { // without tooltip
        cursor: default !important;
        * { cursor: default !important; }
    
        .ant-switch-disabled, // with tooltip
        &.ant-switch-disabled { // without tooltip
            opacity: 1 !important;
        }
    }

    .ant-switch-handle {
        &:after {
            content: "";
            transform: none;
            opacity: 1;
            border: 0;
            position: absolute;
            background-image: url(../assets/images/ico-lock-light-blue.svg) !important;
            background-size: 10px;
            background-repeat: no-repeat;
            background-position: center;
            width: 12px;
            height: 12px;
            right: 0;
        }
    }


    // locked checkbox
    &.ant-tooltip-disabled-compatible-wrapper, // with tooltip
    &.ant-checkbox-wrapper { // without tooltip
        cursor: default !important;
        * { cursor: default !important; }
    
        .ant-checkbox-disabled + span {
            color: $text-default;
        }

        .ant-checkbox-inner {
            background-color: var(--white);

            &:after {
                content: "";
                transform: none;
                opacity: 1;
                border: 0;
                position: absolute;
                background-image: url(../assets/images/ico-lock-light-blue.svg) !important;
                background-size: 12px;
                background-repeat: no-repeat;
                background-position: center;
                width: 14px;
                height: 14px;
                top: 0;
                left: 0;
            }
        }

        .ant-checkbox-checked {
            .ant-checkbox-inner {
                background-color: var(--navy);

                &:after {
                    filter: brightness(4);
                }
            }
        }
    }
}

// readonly
.readonly {

    // readonly switch
    &.ant-tooltip-disabled-compatible-wrapper, // with tooltip
    &.ant-switch { // without tooltip
        cursor: default !important;
        * { cursor: default !important; }
    
        .ant-switch-disabled, // with tooltip
        &.ant-switch-disabled { // without tooltip
            opacity: 1 !important;
        }
    }

    // readonly checkbox
    &.ant-tooltip-disabled-compatible-wrapper, // with tooltip
    &.ant-checkbox-wrapper { // without tooltip
        cursor: default !important;
        * { cursor: default !important; }

        .ant-checkbox-disabled + span {
            color: $text-default;
        }

        .ant-checkbox-inner {
            background-color: var(--white);
        }

        .ant-checkbox-checked {
            .ant-checkbox-inner {
                background-color: var(--navy);

                &:after {
                    border-color: var(--white);
                }
            }
        }
    }
}

// Switch
.ant-switch {
    &.filter {
        &.ant-switch-checked {
            background-color: $orange;
        }
    }

    &.vertical {
        transform: rotate(-90deg);
        
        .ant-switch-inner {
            display: none;
        }
    }
}

.ant-tooltip-disabled-compatible-wrapper.vertical {
    transform: rotate(-90deg);
}