.displayfield {
    background: transparent;
}

.readonly {
    &.displayfield-input,
    &.displayfield-textarea {
        &.ant-input-affix-wrapper,
        &.ant-input,
        &.ant-input-text-area {
            &:hover,
            &:focus,
            &.ant-input-affix-wrapper-focused {
                border-color: $border-color !important;
                border-width: 1px !important;
                box-shadow: none !important;
            }
        }
    }
    &.displayfield-taglist {
        .ant-select-selector {
            border-color: $border-color !important;
            border-width: 1px !important;
            box-shadow: none !important;
        }
    }
}


// Generic Display field div
.displayfield-container {
    padding: var(--sp-xs) 0;
    min-height: 27px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
}