// Input number
.ant-input-number {
    .ant-input-number-handler-wrap {
        background-color: transparent;
    
        .ant-input-number-handler {
            border: none;
    
            .anticon {
                color: var(--navy);
            }
    
            &.ant-input-number-handler-down-disabled,
            &.ant-input-number-handler-up-disabled {
                .anticon {
                    color: $text-light;
                }
            }
        }
    
    }
}

.ant-input-number-group-addon,
.ant-select-selector,
.ant-select-focused .ant-select-selector,
.ant-input-number-affix-wrapper {
    border-right: none !important;   
    border-left: none !important;   
    border-top: none !important;   
}
