// Select


// Multiple select (tags)
.ant-select-multiple {
    .ant-select-selection-item {
        background-color: $blue-white;
        color: $medium-blue;
        border: none;
    }
    .ant-select-selection-item-remove {
        color: $medium-blue;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
        color: $aqua;
    }

    &.filter {
        .ant-select-selection-item {
            background-color: $orange;
            color: $white;
        }
        .ant-select-selection-item-remove {
            color: $white;
        }

        &.ant-select-disabled {
            .ant-select-selection-item {
                background-color: $text-light;
            }
        }
    }
}