.ant-spin {
    color: $text-default;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sp-sm);
    height: 100%;
}

.ant-spin-dot {
    animation: none;
    transform: none;
}

.ant-spin-dot-item {
    display: none;
}

// pulsar animation
.ant-spin-dot {
    width: 25px !important;
    height: 25px !important;
    
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        border-color: $aqua;
        width: 25px;
        height: 25px;
        top: 0;
        left: 0;
    }

    &::before {
        animation: scale-2 1.5s linear 0s infinite;
    }

    &:after {
        opacity: 0;
        animation: scale-2 1.5s linear 0.5s infinite;
    }
}

@keyframes scale-2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.7);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}