@import './item-icons';

.dx-item {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: initial;
    overflow: hidden;

    // ICON
    .item-icon-wrapper {
        position: relative;
        flex-shrink: 0;

        .dx-item__badge {
            position: absolute;
            top: var(--sp-xs);
            right: -6px;
        }
    }

    // BODY
    .dx-item__body {
        max-width: 100%;
        overflow: hidden;
    }

    .dx-item__title {
        align-items: center;
        display: flex;
        gap: var(--sp-sm);
        line-height: 1.4em;

        .dx-item__name {
            font-weight: 700;
            font-size: var(--font-size-big);
            overflow: hidden;
        }
    }

    .dx-item__pretitle {
        color: $medium-blue;
        font-size: var(--font-size-mini);
        letter-spacing: 0.5px;
        line-height: 1em;
        text-transform: uppercase;
    }

    .dx-item__description {
        line-height: 1.3em;
        font-weight: 400;

        .ant-typography {
            margin-bottom: 0;
        }
    }

    // MEDIUM SIZE
    &.dx-item--medium {
        gap: 6px;

        .dx-item__name,
        .dx-item__description {
            font-size: var(--font-size-default);
            line-height: 1.2em;
        }

        .dx-item__icon {
            height: 32px;
            width: 32px;

            // Generic font icons
            &[class^="dx-icon-"],
            &[class*=" dx-icon-"],
            &[class^="icon-"],
            &[class*=" icon-"] {
                &:before {
                    font-size: var(--font-size-bigger);
                }
    
                // medium size-icon
                &.dx-item__icon--medium {
                    &:before {
                        font-size: calc(var(--font-size-bigger) - 3px);
                    }
                }
    
                // small size-icon
                &.dx-item__icon--small {
                    &:before {
                        font-size: calc(var(--font-size-bigger) - 6px);
                    }
                }
            }
        }

        .dx-item__badge {
            position: absolute;
            top: 0;
            right: -4px;
        }
    }

    &.dx-item--small {
        gap: var(--sp-xs);

        .dx-item__name,
        .dx-item__description {
            font-size: var(--font-size-default);
            line-height: 1.2em;
        }

        .dx-item__icon {
            height: 22px;
            width: 22px;

            // Generic font icons
            &[class^="dx-icon-"],
            &[class*=" dx-icon-"],
            &[class^="icon-"],
            &[class*=" icon-"] {
                &:before {
                    font-size: calc(var(--font-size-default) + 4px);
                }
    
                // medium size-icon
                &.dx-item__icon--medium {
                    &:before {
                        font-size: calc(var(--font-size-default) + 2px);
                    }
                }
    
                // small size-icon
                &.dx-item__icon--small {
                    &:before {
                        font-size: var(--font-size-default);
                    }
                } 
            }
        }
    }
}