
// Status colors
$cl: (
    green: $green,
    red: $red,
    red-dark: $red-dark,
    yellow: $yellow,
    orange: $orange,
    orange-medium: $orange-medium,
    orange-dark: $orange-dark,
    gray-blue: $gray-blue,
    light-gray: $light-gray,
    highlight: $highlight,

    blue: $blue,
    medium-blue: $medium-blue,
    light-blue: $light-blue,
    navy: $navy,
    blue-white: $blue-white,

    aqua: $aqua,
    aqua-medium: $aqua-medium,
    aqua-light: $aqua-light,
    aqua-white: $aqua-white,

    white: $white,
    transparent: transparent,

    text-default: $text-default,
    text-secondary: $text-secondary,
    text-light: $text-light,
    text-black: $text-black
);

@each $color-name, $value in $cl {
    .color-#{$color-name} {
        color: #{$value} !important;
    }
    .bg-color-#{$color-name} {
        background-color: #{$value} !important;
    }
}