.comparator {
    .row-item {
        align-items: center;
        border-bottom: 1px solid var(--border-color-solid);
        height: 40px;
        padding: 0 var(--sp-sm);
    
        &.empty {
            height: 100%;
            justify-content: center;
        }
    }
    
    .comparator-center-column {
        background-image: url(../assets/images/bg-compare-column.png);
        background-repeat: repeat-y;
        background-size: contain;

        .uiv-status-indicator .uiv-tag {
            border: 2px solid $border-color;

            .uiv-tag-icon {
                font-weight: 900;
            }
        }
    }

    .comparator-icon-right {
        position: relative;
        left: 25px;

        &:after {
            background-color: #7c8696;
            content: " ";
            height: 1px;
            position: absolute;
            right: 24px;
            width: 14px;
        }
    }
    
    .ant-collapse {
        margin-top: var(--sp-xs);
        
        .ant-collapse-content .ant-collapse-content-box {
            padding: 0 0 var(--sp-md) 0;
        }
    } 

    // Grid styling
    .ag-cell {
        border: none !important;
        line-height: 39px; // add 1px from removed border
    }
}
