.outputs-block-title {
    background-position: center 12px;
    background-repeat: no-repeat;
    background-size: 70px;
    color: var(--medium-blue);
    font-weight: bold;
    line-height: 1.1em;
    font-size: var(--font-size-small);
    height: 80px;
    text-transform: uppercase;

    &.mr {
        background-image: url(../assets/images/outputs/monitoring.png);
    }

    &.logs {
        background-image: url(../assets/images/outputs/logs.png);
    }

    &.traces {
        background-image: url(../assets/images/outputs/traces.png);
    }

    &.metrics {
        background-image: url(../assets/images/outputs/metrics.png);
    }

    &.alarms {
        background-image: url(../assets/images/outputs/alarms.png);
    }
}

.monitoring-links {
    gap: 0 var(--sp-md);
    flex-wrap: wrap;
}

.disabled-block {
    filter: grayscale(100%);
    opacity: 0.3;
}