.resources-list {
    &.compact-view {
        .uiv-item .description {
            display: none;
        }
    }

    // interaction colors
    .ag-row-level-1 {
        &.ag-row {
            &:before {
                border-radius: 5px;
                content: "";
                display: block;
                width: calc(100% - 45px);
                height: 100%;
                position: absolute;
                margin: 0px 0 0px 42px;
            }
        }

        //hover
        &.ag-row-hover {
            background-color: transparent;
            cursor: pointer;
            
            &:before {
                background-color: $bg-menu-hover;
            }
        }

        //selected
        &.ag-row-selected {
            background-color: transparent;
            
            &:before {
                background-color: $bg-menu-selected;
            }
        }
        
        //focus
        &.ag-row-focus {
            background-color: transparent;

            &:before {
                box-shadow: inset 0 0 0 1px $aqua;
            }
        }
    }

    // indentation
    .ag-row-level-1 {
        .cell-indent {
            padding-left: 50px;
        }
    }

    .ag-row-level-2 {
        .cell-indent{
            padding-left: 80px;
        }
    }

    // Resources
    .uiv-item.small {

        .item-title {
            line-height: 1.1em;
            gap: var(--sp-xs);

            .item-name {
                font-size: calc(var(--font-size-default) + 1px)
            }
        }

        .uiv-divider {
            height: 1em;
        }

        .description {
            font-size: var(--font-size-small);
            
            .ant-typography {
                color: #8a8a8a;
            }
        }

        &.level-0 {
            .item-name {
                font-size: var(--font-size-small);
                letter-spacing: 1px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: var(--font-size-small);
            }
        } 
    }

    // Counter
    .ag-group-child-count {
        color: $text-secondary;
        font-size: var(--font-size-small);
        font-weight: 400;
    }
}

// TOOLBAR

.resource-list-toolbar {
    &.uiv-toolbar-header {
        padding: 0 var(--sp-sm) 0 0;
    }
}

.uiv-toolbar-header.compact {
    &.filter-toolbar {
        padding: 0 var(--sp-sm) 0 var(--sp-md);
    
        .ant-select,
        .ant-select-disabled {
            .ant-select-selector {
                background-color: transparent !important;
            }
        }
    
        .ant-input-affix-wrapper,
        .ant-select-selector {
            height: 32px;
            transition: box-shadow .2s linear;
            position: relative;
            top: 1px;
        }
    }
}